$white: #fff;
$black: black;
$purple: #ce3df3;
$blur: rgba(168, 179, 207, 0.64);
$light-blur: #a8b3cf;
$border-color: rgba(168, 179, 207, 0.2);
$background-color-primary: #0e1217;
$background-color-secondary: #1c1f26;
$font-primary: 15px;
$font-secondary: 13px;
$one-rem: 16px;
$half-rem: 8px;

@mixin border {
    border-radius: 10px;
}

body {
    background-color: $background-color-primary;
}

a {
    text-decoration: none;
}

aside {
    margin-top: 3rem;
    width: 15%;
}

article {
    margin: 3rem 14rem;
    padding: 3rem 5.5rem;
    width: 85%;
    border-left: 1px solid $border-color;
}


form {
    @include border;
    background-color: $white;
}

.navbar-expand-lg {
    background-color: $background-color-primary;
    position: sticky;
}

.header-button {
    border-bottom: 1px solid $border-color;
}

.navbar-brand-logo {
    color: $white;
    width: 2rem;
}

nav {
    a:first-child {
        i {
            color: whitesmoke;
            font-size: 2rem;
        }
    }
}

nav {
    a:last-child {
        i {
            color: lightcyan;
            font-size: 2.3rem
        }
    }
}

.button-access {
    @include border;
    color: $background-color-primary;
    font-weight: 700;
    width: 180px;
    padding: .5rem;
}

form:hover {
    background-color: $light-blur;
}

// explore-nav

.discover {
    a {
        display: flex;
        flex: nowrap;
        padding: .25rem;

    }
}

aside {
    div:first-child {
        color: $blur;
        font-size: $font-secondary;
        font-weight: 700;
    }
}

aside {
    svg {
        width: 21px;

    }
}

aside {
    span {
        color: $light-blur;
        font-size: $font-primary;
        font-weight: 400;

    }
}

aside {
    section {
        display: flex;
        flex-wrap: nowrap;
        width: 210px;
        height: 65px;
        padding: auto;
        align-items: center;
        border-radius: 10px;
        border: 1px solid $light-blur;
        background-color: $background-color-secondary;

    }
}

.explore-nav-footer-button {
    div:last-child>div {
        font-size: 1rem;
    }


}

.explore-nav-footer-button {
    i {
        color: $blur;
        font-size: 2rem;

    }
}

.explore-nav-footer-button {
    div:last-child {
        div:last-child {
            font-size: .85rem;
            font-weight: 100;
            color: $light-blur;
        }
    }
}

.explore-footer-row {
    width: 15.8%;
}


// article portion

.news-feed-nav {
    margin: 4rem;
}

article {
    .choose-tags {
        @include border;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 500px;
        height: 48px;
        padding: .8rem;
        box-shadow: 0 4px 8px 0 rgba(192, 41, 240, 0.2), 0 6px 20px 0 rgba(192, 41, 240, 0.19);
        border: 1.5px solid $purple;
    }
}

.feed-button-text {
    color: $white;
    font-size: .81rem;
}

.feed-button-button {
    a {
        @include border;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 135px;
        height: 33px;
        opacity: .9;
        color: $black;
        font-weight: 700;
        background-color: $purple;
    }
}

.feed-button-button:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(192, 41, 240, 0.2), 0 6px 20px 0 rgba(192, 41, 240, 0.19);
}

.feed-button-button {
    i {
        color: $background-color-secondary;
    }
}

.discover {
    width: 93%;
}

.discover:hover {
    background-color: rgba(168, 179, 207, 0.2);
}

.best-discussions-add-shortcuts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.best-discussions-add-shortcuts {
    div:first-child a {
        color: whitesmoke;
        font-size: 1.15rem;
        font-weight: 750;
    }
}

.best-discussions-add-shortcuts {
    div:last-child a {
        color: $light-blur;
        font-size: 1rem;
        font-weight: 750;
    }
}


.cards {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}

.card {
    @include border;
    width: 320px;
    height: 360px;
    border: 1px solid $border-color;
    background-color: $background-color-secondary;
}

.card:hover {
    border: 1px solid $blur;
}

.card-heading {
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: 700;
}

.card-text {
    color: $blur;
    font-size: 0.81rem;
}

.card-logo {
    i {
        color: white;
        font-size: 1.25rem;
    }
}

.card {
    img {
        @include border;
        width: 96%;
        height: 165px;
        margin: auto;
        object-fit: cover;
    }
}

.card {
    .profile-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;

    }
}

.card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-body {
    svg {
        width: 2rem;
        color: $blur;

    }
}

.profile-picture-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.profile-picture-row {
    i {
        color: $blur;
        font-size: 1.3rem;
    }
}

.profile-picture-row {
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}