body {
  background-color: #0e1217;
}

a {
  text-decoration: none;
}

aside {
  margin-top: 3rem;
  width: 15%;
}

article {
  margin: 3rem 14rem;
  padding: 3rem 5.5rem;
  width: 85%;
  border-left: 1px solid rgba(168, 179, 207, 0.2);
}

form {
  border-radius: 10px;
  background-color: #fff;
}

.navbar-expand-lg {
  background-color: #0e1217;
  position: -webkit-sticky;
  position: sticky;
}

.header-button {
  border-bottom: 1px solid rgba(168, 179, 207, 0.2);
}

.navbar-brand-logo {
  color: #fff;
  width: 2rem;
}

nav a:first-child i {
  color: whitesmoke;
  font-size: 2rem;
}

nav a:last-child i {
  color: lightcyan;
  font-size: 2.3rem;
}

.button-access {
  border-radius: 10px;
  color: #0e1217;
  font-weight: 700;
  width: 180px;
  padding: 0.5rem;
}

form:hover {
  background-color: #a8b3cf;
}

.discover a {
  display: flex;
  flex: nowrap;
  padding: 0.25rem;
}

aside div:first-child {
  color: rgba(168, 179, 207, 0.64);
  font-size: 13px;
  font-weight: 700;
}

aside svg {
  width: 21px;
}

aside span {
  color: #a8b3cf;
  font-size: 15px;
  font-weight: 400;
}

aside section {
  display: flex;
  flex-wrap: nowrap;
  width: 210px;
  height: 65px;
  padding: auto;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #a8b3cf;
  background-color: #1c1f26;
}

.explore-nav-footer-button div:last-child > div {
  font-size: 1rem;
}

.explore-nav-footer-button i {
  color: rgba(168, 179, 207, 0.64);
  font-size: 2rem;
}

.explore-nav-footer-button div:last-child div:last-child {
  font-size: 0.85rem;
  font-weight: 100;
  color: #a8b3cf;
}

.explore-footer-row {
  width: 15.8%;
}

.news-feed-nav {
  margin: 4rem;
}

article .choose-tags {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 48px;
  padding: 0.8rem;
  box-shadow: 0 4px 8px 0 rgba(192, 41, 240, 0.2), 0 6px 20px 0 rgba(192, 41, 240, 0.19);
  border: 1.5px solid #ce3df3;
}

.feed-button-text {
  color: #fff;
  font-size: 0.81rem;
}

.feed-button-button a {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 135px;
  height: 33px;
  opacity: 0.9;
  color: black;
  font-weight: 700;
  background-color: #ce3df3;
}

.feed-button-button:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(192, 41, 240, 0.2), 0 6px 20px 0 rgba(192, 41, 240, 0.19);
}

.feed-button-button i {
  color: #1c1f26;
}

.discover {
  width: 93%;
}

.discover:hover {
  background-color: rgba(168, 179, 207, 0.2);
}

.best-discussions-add-shortcuts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.best-discussions-add-shortcuts div:first-child a {
  color: whitesmoke;
  font-size: 1.15rem;
  font-weight: 750;
}

.best-discussions-add-shortcuts div:last-child a {
  color: #a8b3cf;
  font-size: 1rem;
  font-weight: 750;
}

.cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  position: relative;
  width: 320px;
  height: 360px;
  border: 1px solid rgba(168, 179, 207, 0.2);
  background-color: #1c1f26;
}

.card:hover {
  border: 1px solid rgba(168, 179, 207, 0.64);
}

.main-profile-body {
  position: absolute;
  height: 40%;
  padding: 1.3rem;
}

.profile-picture-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-picture-row .profile-img {
  width: 37px;
  height: 37px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.profile-picture-row i {
  color: rgba(168, 179, 207, 0.64);
  font-size: 1.2rem;
}

.profile-picture-row i :hover {
  background-color: rgba(168, 179, 207, 0.64);
  padding: 2rem;
}

.card-heading {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 700;
}

.card-heading-light {
  color: #a8b3cf;
  font-size: 0.8rem;
  margin-bottom: -6rem;
}

.card-img {
  border-radius: 10px;
  width: 96%;
  height: 165px;
  bottom: 2.5rem;
  left: 0.4rem;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  justify-content: space-between;
}

.card-text {
  color: rgba(168, 179, 207, 0.64);
  font-size: 0.81rem;
}

.card-body svg {
  width: 1.5rem;
  color: #a8b3cf;
  border-radius: 5px;
}

.card-body svg:hover {
  background-color: rgba(106, 255, 106, 0.5);
  opacity: 0.7;
  color: #39e58c;
}

#spaceBar {
  border-radius: 10px;
  display: none;
  position: absolute;
  top: 30%;
  left: 30%;
  width: 35%;
  height: 50%;
  z-index: 1;
  background-color: #1c1f26;
}

#spaceBar i {
  color: rgba(168, 179, 207, 0.64);
  font-size: 2rem;
  display: float;
}

.daily-toggle-heading {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.daily-toggle-heading i:last-child {
  border-radius: 10px;
  float: right;
  padding: 0.3rem;
}

.daily-toggle-heading i:last-child:hover {
  background-color: rgba(168, 179, 207, 0.3);
}

.unlock {
  width: 90%;
  margin: auto;
  -moz-text-align-last: center;
       text-align-last: center;
  color: whitesmoke;
}

.btn-drop {
  border-radius: 10px;
  width: 40%;
  align-items: center;
  padding: 0.5rem;
  margin: 1.5rem 29% 2rem 29%;
  background-color: #fff;
}

.btn-drop a {
  align-items: center;
  padding: 0.5rem;
  color: #0e1217;
  font-size: 1rem;
  font-weight: 500;
}

.toggle-footer {
  width: 60%;
  color: rgba(168, 179, 207, 0.64);
  margin: auto;
  -moz-text-align-last: center;
       text-align-last: center;
  font-size: 0.8rem;
}/*# sourceMappingURL=style.css.map */